# KPI and Forecast Exploration

This notebook explores the generated KPIs and demonstrates how to query them for analysis.

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../inventory_v2.db")

In [4]:
# Query Channel KPIs
query = """
SELECT 
    channel_id,
    total_revenue,
    order_count,
    avg_order_value
FROM channel_kpis
ORDER BY total_revenue DESC
"""

try:
    df = pd.read_sql(query, conn)
    print("Channel KPIs:")
    display(df)
except Exception as e:
    print("channel_kpis table not found. Run the KPI job first.")

Channel KPIs:

  channel_id  total_revenue  order_count  avg_order_value
0     CH_AMZ       60683.79           90       674.264333
1     CH_SHP       57638.49           92       626.505326
2     CH_EBY       56132.23           89       630.699213
3     CH_RET       50219.85           79       635.694304